.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:10px 0;
    gap: 10px;
}
button{
    background-color: rgb(60, 60, 60);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
svg{
    width: 13px;
}
.inputt{
    width: 25px;
    border: 1px solid #242424;
    border-radius: 3px;
    text-align: center;
    height: 20px;
}
.searchText{
    color: rgb(255, 255, 255);
}
.searchText:hover{
    color: rgb(0, 0, 0);
}